@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.dark-mode {
    background-color: #212121 !important;
    color: #ffffff !important;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #a3a3a3;
    border-radius: 999px;
}

.cursorToEnd {
    caret-color: transparent;
    caret-color: initial;
}


@keyframes loading {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.animate-loading {
    animation: loading 1.5s infinite linear;
}

.topbar-search-input::placeholder {
    font-size: 16px;
    transition: font-size 0.08s ease;
}

.topbar-search-input.placeholder-animated::placeholder {
    font-size: 0px;

}

.ripple {
    position: absolute;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.08);
    transform: scale(0);
    animation: ripple-animation 1s linear;
    pointer-events: none;
}

@keyframes ripple-animation {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

.group-item {
    position: relative;
    overflow: hidden;
}



.Shadow {
    box-shadow: 0px 0px 9px 1px #00072b36;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 16px;
    box-shadow: 24px;
    border-radius: 8px;
    width: 300px;
    outline: none;
}

.group-list {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 16px;
}